
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<p>@Html.ActionLink("Inventory Report", "Inventory", "Reports", new { @class = "btn btn-primary" })</p>
<p>@Html.ActionLink("Sales Report", "Sales", "Reports", new { @class = "btn btn-primary" })</p>